section.grid {
  display: inline-flex;
  align-items: flex-start;
  padding-top: 20px;

  @card-radius: 3px;

  .user-info {
    line-height: 30px;
    display: inline-block;

    p {
      margin: 0;
      float: left;
      margin-left: 10px;
      font-weight: 600;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      float: left;
    }
  }

  .userCard, .card {
    background-color: #fff;
    width: 250px;
    min-height: 200px;
    padding: 10px;
    border: 1px solid @gray-darker1;
    border-radius: @card-radius;
  }

  .userCard {
    margin: 10px;
    // box-shadow: @standard-shadow;
    background-color: @gray-lighter1;
    width: 300px;

    hr {
      border-top: 0;
      border-left: 0;
      border-bottom: 1px solid #ddd;
    }
  }

  .card {
    cursor: pointer;
    position: relative;
    margin: 25px auto;

    &:hover {
      border: 1px solid @blue;
    }

    p {
      margin: 0;
    }

    .card-name {
      margin: 30px 0 20px 0;
    }

    .sub-section-card {
      padding: 5px 10px;
      font-size: 12px;
    }

    .board-name {
      .sub-section-card;
      background-color: #858FB1;
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }

    .activity {
      .sub-section-card;
      background-color: #eee;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}
