<!DOCTYPE html>

<html ng-app="trello-person">
<head>
  <title>Trello Person</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://trello.com/1/client.js?key=e82e63f417b897741fa8f0fc3c802210"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="public/css/style.css">
</head>

<body ng-controller="dataController">
  <header>
    Trello Person
  </header>


  <!-- <button ng-click="getData()">Get Data</button> -->
  <section class="loading" ng-if="!users || users.length < 1"></section>

  <section class="grid">

    <div class="userCard" ng-repeat="user in users">
      <div class="user-info">
        <img fallback-src="/public/css/pug.png" ng-src="https://trello-avatars.s3.amazonaws.com/{{user.userInfo.avatarHash}}/30.png"/>
        <p>{{user.userInfo.fullName}} | {{user.cards.length}} cards</p>
        <!-- <p>{{user.userInfo.id}}</p> -->
      </div>

      <hr />

      <div ng-repeat="card in user.cards"
           ng-click="navigateToCard(card.shortUrl)"
           class="card">

        <p class="board-name">{{card.boardName}}</p>
        <p class="card-name">{{card.name}}</p>
        <p class="activity">Last activity: {{card.dateLastActivity | date:'mediumDate'}}</p>
      </div>
    </div>

  </section>


  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/dataController.js"></script>
  <script type="text/javascript" src="app/directives.js"></script>
</body>
</html>
