* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #eee;
}
body {
  margin-top: 50px;
}
header {
  background-color: #fff;
  min-height: 50px;
  border-bottom: 1px solid #ddd;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
section.loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: url(/public/css/loading.gif) no-repeat center 40% fixed;
}
section.grid {
  display: inline-flex;
  align-items: flex-start;
  padding: 20px 10px;
}
section.grid .user-info {
  line-height: 30px;
  display: inline-block;
}
section.grid .user-info p {
  margin: 0;
  float: left;
  margin-left: 10px;
  font-weight: 600;
}
section.grid .user-info img {
  max-width: 30px;
  max-height: 30px;
  float: left;
}
section.grid .userCard,
section.grid .card {
  background-color: #fff;
  width: 250px;
  min-height: 200px;
  padding: 10px;
  border: 1px solid #BCBCBC;
  border-radius: 3px;
}
section.grid .userCard {
  margin: 10px;
  background-color: #FDFDFD;
  width: 300px;
}
section.grid .userCard hr {
  border-top: 0;
  border-left: 0;
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
}
section.grid .card {
  cursor: pointer;
  position: relative;
  margin: 20px auto;
}
section.grid .card:hover {
  border: 1px solid #1a75ff;
}
section.grid .card p {
  margin: 0;
}
section.grid .card .card-name {
  margin: 30px 0 20px 0;
}
section.grid .card .sub-section-card {
  padding: 5px 10px;
  font-size: 12px;
}
section.grid .card .board-name {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #858FB1;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
section.grid .card .activity {
  padding: 5px 10px;
  font-size: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #eee;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
